.header {
    height: var(--header-height);
    background: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 4px;
    padding-left: 0;
}

.header__navbar-item {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white-color);
    position: relative;
    margin:0 8px;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fd6d61;
    height: 16px;
    right: -10px;
    top: 0;
}

.header__navbar-title--no-pointer {
    color: var(--white-color);
    cursor: text;
}

.header__navbar-link {
    color: var(--white-color);
    padding-left: 8px;
    text-decoration: none;
}

.header__navbar-link:hover,
.header__navbar-item:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--has-qr:hover .header__navbar-download {
    display: block;
}

.header__navbar-download {
    display: none;
    position: absolute;
    top: calc(100% + 16px);
    width: 184px;
    background-color: var(--white-color);
    cursor: default;
    box-shadow: 0 0 8px -1px var(--black-color);
    padding: 8px;
    animation: fadeIn ease-in .3s;
    z-index: 1;
}

.header__navbar-download::before {
    content: "";
    display: block;
    width: 50%;
    height: 20px;
    position: absolute;
    left: 0;
    top: -18px;
}

.header__navbar-download--qr {
    width: 100%;
}

.header__navbar-download--apps {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header__qr-download-img {
    height: 18px;
}

/* Header notify */

.header__navbar-item:hover .header_notify {
    display: block;
}

/* Header search */
.header-with-search {
    display: flex;
    height: var(--header-with-search-height);
    align-items: center;
    position: relative;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}